{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="button-container">
        <a href="{{ path('app_signalement_new') }}" class="btn btn-danger btn-custom-large text-white" aria-label="Signaler un incident">Signaler un incident</a>
        <a href="{{ path('app_signalement_index') }}" type="button" class="btn btn-primary btn-custom-large text-white" aria-label="Historique des incidents">Historique des incidents</a>
        <a href="{{ path('app_intervention_index') }}" type="button" class="btn btn-success btn-custom-large text-white" aria-label="Voir les interventions">Voir les interventions</a>
        <a href="{{ path('app_intervention_new') }}" type="button" class="btn btn-warning btn-custom-large text-white" aria-label="Créer une intervention">Créer une intervention</a>
    </div>

	    <div class="col py-3">
        {% block main_content %}{% endblock %}
    </div>

{% endblock %}
