{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<center>
    {% include 'partial/_header.html.twig' %}
</center>
    

    <div class="button-container">
        <a href="{{ path('app_signalement_new') }}" class="btn btn-danger btn-custom-large text-white" aria-label="Signaler un incident">Signaler un incident</a>
        <a href="{{ path('app_signalement_index') }}" type="button" class="btn btn-primary btn-custom-large text-white" aria-label="Historique des incidents">Historique des incidents</a>
        <a href="{{ path('app_intervention_index') }}" type="button" class="btn btn-success btn-custom-large text-white" aria-label="Historique des incidents">Intervention</a>
    </div>

	    <div class="col py-3">
        {% block main_content %}{% endblock %}
    </div>

	{% block javascripts %}
		{% block importmap %}
			{{ importmap('app') }}
		{% endblock %}
	{% endblock %}
{% endblock %}
