{% extends 'base.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}
    <center>
        <h1>Liste des interventions</h1>

       <table class="table table-bordered table-striped">
            <thead class="bg-dark text-white">
                <tr>
                    <td>Signalement</td> <!-- Change 'Id' to 'Signalement' -->
                    <td>Date d'intervention</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
            {% for intervention in interventions %}
                <tr>
                    <!-- Replace 'intervention.id' with 'intervention.signalement.description' -->
                    <td>{{ intervention.signalement ? intervention.signalement.description : 'N/A' }}</td>
                    <td>{{ intervention.dateIntervention ? intervention.dateIntervention|date('Y-m-d H:i:s') : '' }}</td>
                    <td class="text-center">
                        <a class="btn btn-primary text-white" href="{{ path('app_intervention_show', {'id': intervention.id}) }}">Détail</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune intervention trouvée</td> <!-- Adjust colspan to 4 -->
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </center>

    <div class="col py-3">
        {% block main_content %}{% endblock %}
    </div>

    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}
{% endblock %}
