{% extends 'base.html.twig' %}

{% block title %}Intervention{% endblock %}

{% block body %}
    <h1>Intervention</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Signalement</th>
               <td>{{ intervention.signalement ? intervention.signalement.description : 'N/A' }}</td>
            </tr>
            <tr>
                <th>Date_intervention</th>
                <td>{{ intervention.dateIntervention ? intervention.dateIntervention|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ intervention.commentaire }}</td>
            </tr>
        </tbody>
    </table>





{% endblock %}
