{% extends 'base.html.twig' %}

{% block title %}Signalements{% endblock %}

{% block body %}

    <!-- Container pour l'historique des signalements -->
    <div class="container mt-3"> <!-- Réduit la marge supérieure -->
        <h1 class="text-center mb-3">Historique de signalement</h1> <!-- Réduire la marge inférieure -->

        <table class="table table-bordered table-striped">
            <thead class="bg-dark text-white">
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Salle</th>
                    <th scope="col">Matériel</th>
                    <th class="text-center" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for signalement in signalements %}
                <tr>
                    <td>{{ signalement.description }}</td>
                    <td>{{ signalement.salles ? signalement.salles.nom : 'N/A' }}</td> <!-- Affiche le nom de la salle -->
                    <td>{{ signalement.materiel ? signalement.materiel.nom : 'N/A' }}</td> <!-- Affiche le nom du matériel -->
                    <td class="text-center">
                        <a class="btn btn-primary text-white" href="{{ path('app_signalement_show', {'id': signalement.id}) }}">Détail</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">Aucun signalement existant</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
