{% extends 'base.html.twig' %}

{% block title %}Signalement{% endblock %}

{% block body %}
    <h1>Signalement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ signalement.description }}</td>
            </tr>
            <tr>
                <th>Date de signalement</th>
                <td>{{ signalement.dateSignalement ? signalement.dateSignalement|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ signalement.user ? signalement.user.statut : 'N/A' }}</td> <!-- Affiche le nom de l'utilisateur -->
            </tr>
        </tbody>
    </table>

    <span class="btn-primary"> <a href="{{ path('app_signalement_index') }}">Retour à la liste</a></span>

{% endblock %}
