<nav class="navbar navbar-expand-lg head_color">
   <div class="container-fluid d-flex justify-content-center">
        <!-- Image clicable qui renvoie vers la route 'home' -->
        <a href="{{ path('home') }}">
            <img src="{{ asset('images/LogoSallesProblemes.png') }}" alt="Logo ferme" class="img-fluid"/>
        </a>
    </div>
</nav>
