{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center">Modifier l'utilisateur</h1>
                
                <div class="card shadow">
                    <div class="card-body">
                        {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                    </div>
                </div>

                <div class="mt-4 text-center">
                    <a class="btn btn-secondary" href="{{ path('app_user_index') }}">Retour à la liste</a>
                    {{ include('user/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% block importmap %}
        {{ importmap('app') }}
    {% endblock %}
{% endblock %}